server {
    listen 8080;
    server_name 69.62.75.219;

    client_max_body_size 20M;

    location /imstransform/static/ {
        alias /var/www/qbitx-ims/staticfiles/;
    }
    location /imstransform/media/ {
        alias /var/www/qbitx-ims/media/;
    }
    location /imstransform/ {
        proxy_pass http://unix:/run/imstransform.sock;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
    }
}